.splash-body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFF; }
  .splash-body .splash-body__spinner {
    margin-bottom: 10px; }
    .splash-body .splash-body__spinner mat-progress-spinner {
      margin: 0 auto; }
