<div class="profile-page-header">
  <div class="profile-page-header__profile-picture" [style.background-image]="'url(' + response?.profile_picture + ')'"></div>

  <div class="profile-page-name">
    <div class="profile-page-name__username">{{response?.username}}</div>
    <div class="profile-page-name__name">{{response?.name}}</div>
  </div>

  <div class="profile-page-header__controls">
    TBA
  </div>
</div>
<div class="profile-page-overhang">
  tap any image to view license agreement
</div>

<div class="profile-page-images">

</div>
