<div class="row homepage-intro">

  <div class="col-md-6 col-sm-12 col-sm-pull-12">
    <div class="homepage-intro__heading">
      Get supported for your content.<br/>
      License your Instagram images.
    </div>
    <div class="homepage-intro__button">
      <div [routerLink]="['', 'signup']" class="sf-button sf-button--no-round sf-button--orange">Sign Up</div>
    </div>

    <div class="homepage-intro__button">
      <button class="sf-button sf-button--no-round sf-button--no-background sf-button--white-border">Copyright Law
      </button>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">Images</div>
</div>

<div class="row">
  <div class="col">
    <div class="homepage-header">
      <span class="homepage-header__text">overview</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 homepage-question">
    <div class="homepage-question__title">What is sharefair?</div>
    <div class="homepage-question__answer">
      Sharefair is a way to license your uploaded instagram images to other instagram users who want to use your images for promotional or commercail purposes on the instagram platform.
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 homepage-question">
    <div class="homepage-question__title">What is sharefair?</div>
    <div class="homepage-question__answer">
      Sharefair is a way to license your uploaded instagram images to other instagram users who want to use your images for promotional or commercail purposes on the instagram platform.
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 homepage-question">
    <div class="homepage-question__title">What is sharefair?</div>
    <div class="homepage-question__answer">
      Sharefair is a way to license your uploaded instagram images to other instagram users who want to use your images for promotional or commercail purposes on the instagram platform.
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 homepage-question">
    <div class="homepage-question__title">What is sharefair?</div>
    <div class="homepage-question__answer">
      Sharefair is a way to license your uploaded instagram images to other instagram users who want to use your images for promotional or commercail purposes on the instagram platform.
    </div>
  </div>
</div>
